body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F8F8FF;
}

header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.imagen-perfil{

    width:150;
    height: 0;

    
}

header h1 {
    margin: 0;
    font-size: 30px;
    color: #333;
}

header h2 {
    margin: auto
}
