
*{ margin: 0;
  padding: 0;

}


header .nombre {
  unicode-bidi: isolate;
  background-color:#efefef;
  background-image: linear-gradient(to right, #cdffd8, #94b9ff);
  padding: 50px;
  text-align: center;
 
}
/* encabezado */
.yo{
  width: 150px ;
  height: auto;
  margin: opx  auto;
  border:  2px solid black;
  text-align: center;
  line-height: 20px;

}

.p{

display: flex;
  
}

.izquierda{

  flex-direction: column;
  flex-basis: 100%; /* Ajusta el ancho */
  background-color: #FFFF;
  padding: 150px;
}
.perfil{

  



}


.derecha{

  flex-direction: column;
  flex-basis: 100%; 
  background-color: #efefef;
  padding: 100px; 
}


.clearfix{
  clear: both;
}

body{

  text-align: center;

  background: linear-gradient(to right, rgb(142, 158, 171), rgb(238, 242, 243));
}



