

body{
margin: 0 10%;
background: linear-gradient(to right, rgb(189, 195, 199), rgb(44, 62, 80));

}
header{
  display: flex;
  justify-content: space-around; /* Distribuir las partes del encabezado uniformemente */
  align-items: center;
  background-color:#efefef;
  background-image: linear-gradient(to right, #cdffd8, #94b9ff);


}

header .nombre {
  unicode-bidi: isolate;
  text-align: center;
  margin: auto;

}
/* encabezado */
.yo{
  width: 170px ;
  height: auto;
  margin: 0;
  border:  2px solid black;
  text-align: center;
  line-height: 20px;

}
/* no se junten los textos uno ensima del otro */
.p{

display: flex;
  
}

.izquierda{
 
  flex-direction: column;
  flex-basis: 100%; /* Ajusta el ancho */
  background-color: #FFFF;
  padding: 50px;

}
h2{
  font-size: 24px;
  margin-bottom: 20px;
  border-bottom: solid #000000 1px ;
  padding-bottom: 2%; /* Espacio entre el texto y el borde inferior */
  width: 30%; 
 
}


.derecha{

  flex-direction: column;
  flex-basis: 100%; 
  background-color: #efefef;
  padding: 50px; 
}


.clearfix{
  clear: both;
}


.con1{
  font-size: 24px;

  margin-bottom: 20px;
  border-bottom: solid #000000 1px ;
  padding-bottom: 2%; /* Espacio entre el texto y el borde inferior */
   
}
.contactos li{

list-style-type: none;


}
.contactos{

  text-align: center;
  
}



